//Imports-------------------------------------------
@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "compass";
//---------------------------------------------------
//Fonts----------------------------------------------
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700);
//---------------------------------------------------
//Variables------------------------------------------
$labourColor:#e74c3c;
 $conservativeColor:#3498db;
 $libdemColor:#F7E041;
 $ukipColor:#9b59b6;
 $novoteColor:#7f8c8d;
 $primaryColor:#009688;
 $footerBg:#2d2d2d;
 $bgColour:#efefef;
//---------------------------------------------------
//Mixins---------------------------------------------
@mixin choiceStyle($choice) {
    background-color: $choice;
    height: 200px;
}
@mixin transition($time) {
    -webkit-transition: $time;
    -moz-transition: $time;
    transition: $time;
}
@mixin boxShadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}
@mixin partyBtnHover($party) {
    background-color: darken($party, 15)
}
@mixin buttonShadow() {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
//---------------------------------------------------
 html {
    margin-top: -60px;
}
body {
    background-color: $bgColour;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    margin-top: 70px;
}
/* Titles */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: #333;
}
/* Paragraph & Typographic */

p {
    line-height: 28px;
    margin-bottom: 25px;
}
.centered {
    text-align: center;
}
/* Links */

a {
    color: #f85c37;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}
a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-inverse {
    background: #2d2d2d;
    border-color: #2d2d2d;
}
.navbar-inverse .navbar-nav > .active > a {
    background: #ff7878
}
.navbar-inverse .navbar-brand {
    color: #999999;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
}
.navbar-inverse .navbar-brand i {
    color: #ff7878;
    font-size: 22px;
    letter-spacing: 1px;
}
#headerwrap {
    background-color: $primaryColor;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    min-height: 500px;
    width: 100%;
}
#headerwrap h1 {
    margin-top: 100px;
    color: white;
    font-size: 90px;
    font-weight: 300;
    letter-spacing: 3px;
}
#headerwrap h2 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
}
#headerwrap h3 {
    font-weight: 400;
}
/* Light Grey */

#lg {
    background: #ebebeb;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}
#lg h4 {
    font-weight: 700;
}
//#questionSection {
//    background-color: #f2f2f2;
//    height: 200px;
//    padding-top: 35px;
//    padding-bottom: 35px;
//}
.labourQuestionSection {
    background: $labourColor;
}
.conservativeQuestionSection {
    background: $conservativeColor;
}
.libdemQuestionSection {
    background: $libdemColor;
}
.ukipQuestionSection {
    background: $ukipColor;
}
.novoteQuestionSection {
    background: $novoteColor;
}
.labourQuestionSection,
.conservativeQuestionSection,
.libdemQuestionSection,
.ukipQuestionSection, .novoteQuestionSection {
    padding-top: 35px;
    padding-bottom: 35px;
}

/* Footer Wrap */

#footer {
    background: $footerBg;
    padding-top: 30px;
    padding-bottom: 30px;
}
#footer i {
    color: #bdbdbd;
    font-size: 30px;
    padding: 20px;
}
#footer i:hover {
    color: $primaryColor;
}
#footer h3 {
    color: $primaryColor;
    font-weight: 700;
}
#footer h4 {
    color: lighten($footerBg, 25);
}
/****** SECTIONS *****/

.w {
    padding-top: 35px;
}
.w h4 {
    font-weight: 700;
}
.desc {
    padding-top: 35px;
}
.desc h4 {
    font-weight: 700;
}
.desc i {
    color: #ff7878;
    font-size: 12px;
    padding: 5px;
}
/***** MODAL CONTACT *****/

.modal-content {
    border-radius: 0px;
}
.modal-header {
    background: #bdbdbd;
    color: white;
}
.modal-header h4 {
    font-weight: 700;
}
.modal-body {
    background: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
}
.modal-footer {
    background: #f2f2f2;
    margin-top: 0px;
}
.partyIcon {
    width: 100%;
    padding: 35px;
}
.partyIconCircle {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.labourText,
.wellLabour i {
    color: $labourColor;
}
.conservativeText,
.wellConservative i {
    color: $conservativeColor;
}
.libdemText,
.wellLibdem i {
    color: $libdemColor;
}
.ukipText,
.wellUkip i {
    color: $ukipColor;
}
.labourTextAlign {
    height: 0.01em;
}
.wellLabour,
.wellConservative,
.wellLibdem,
.wellUkip,
.wellNoPreference {
    @include transition(0.5s);
}
.wellLabour:hover {
    border: 1px solid lighten($labourColor, 15);
}
.wellConservative:hover {
    border: 1px solid lighten($conservativeColor, 15);
}
.wellLibdem:hover {
    border: 1px solid lighten($libdemColor, 1);
}
.wellUkip:hover {
    border: 1px solid lighten($ukipColor, 15);
}
.wellNoPreference:hover {
    border: 1px solid lighten($novoteColor, 15);
}
.btn {
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    background-image: none;
    border: 0;
    border-radius: 0;
    @include boxShadow(none);
    @include transition(0.25s);
}
.wellLabour .btn {
    background-color: $labourColor;
    @include buttonShadow();
}
.wellConservative .btn {
    background-color: $conservativeColor;
    @include buttonShadow();
}
.wellLibdem .btn {
    background-color: $libdemColor;
    @include buttonShadow();
}
.wellUkip .btn {
    background-color: $ukipColor;
    @include buttonShadow();
}
.novoteBtn {
    background-color: $novoteColor;
    @include buttonShadow();
}
.wellLabour .btn:hover {
    @include partyBtnHover($labourColor);
}
.wellConservative .btn:hover {
    @include partyBtnHover($conservativeColor);
}
.wellLibdem .btn:hover {
    @include partyBtnHover($libdemColor);
}
.wellUkip .btn:hover {
    @include partyBtnHover($ukipColor);
}
.novoteBtn:hover {
    @include partyBtnHover($novoteColor);
}
.partyBtn:focus {
    //Stops the blue outline around the buttons when clicked
    outline: 0;
}
.agreeBtn {
    background-color: $primaryColor;
}
.disagreeBtn {
    background-color: #000;
}
.agreeBtn:hover,
.agreeBtn:focus,
.agreeBtn:active {
    background-color: lighten($primaryColor, 10);
}
.disagreeBtn:hover,
.disagreeBtn:focus,
.disagreeBtn:active {
    background-color: lighten(#000, 10);
}
.labourChoice {
    @include choiceStyle($labourColor);
}
.conservativeChoice {
    @include choiceStyle($conservativeColor);
}
.libdemChoice {
    @include choiceStyle($libdemColor);
}
.ukipChoice {
    @include choiceStyle($ukipColor);
}
.noChoice {
    @include choiceStyle($novoteColor);
}
.hiddenSteps {
    display: none;
}
::selection {
    background: lighten($primaryColor, 5);
}
::-moz-selection {
    background: lighten($primaryColor, 5);
}
.headerDownBtn {
    padding: 1em;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    min-width: 56px;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 10px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 10px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 10px 0 rgba(0, 0, 0, 0.24);
    background-color: #ffffff;
    outline: 0;
    outline-offset: 0;
    border: 0;
    @include transition(0.5s);
    line-height: 1.7em;
}
.headerDownBtn i {
    font-size: 1.7em;
}
.headerDownBtn:hover {
    background-color: darken($primaryColor, 10);
    color: #fff;
    cursor: pointer;
}
.underHeader {
    height: 200px;
    background-color: $primaryColor;
    margin-bottom: -180px;
}
.partySelectedImage {
    width: 200px;
    background-color: #fff;
}
#novoteSelectedImage i {
    font-size: 9em;
    height: 200px;
    padding-left: 50px;
}
.selectedPartyTitle h1 {
    color: $bgColour;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 70px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}
#theQuestions h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
